// = author styles =
// ===============================================

.author{

    

    &__info{

        background: $neutralLighter;
        padding: 2rem;
        &__photo{

            @include flexbox{

                flex-direction: column;
            }
        }
        &__text{

            @include flexbox{

                flex-direction: column;
            }
        }

    }
}