// = search bar =
// ===============================================
.cookies-notice{

    width: 100%;
    left: 0;
    position: fixed;
    bottom: 0;
    background-color: var(--white);
    min-height: 4rem;
    box-shadow:  rgba(0, 0, 0, 0.5) 0px 5px 50px;

    @include ms-motion-slideUpIn;

    @include flexbox{

        flex-direction: row;
    };

    @include for-size('tablet'){

        @include flexbox{

            flex-direction: column;
        };

        padding: 1rem;
        text-align: center;

        p{

            margin-bottom: 0;
        }
    }

    a{

        font-size: 1.1rem;
        margin: 1rem;
        color: var(--themeDark);
    }

    button{

        text-transform: uppercase;
        color: var(--white);
        background-color: var(--themeDark);
        border: none;
        padding: 0.5rem;
        cursor: pointer;
    }
}
.cookies-notice-settings{

    width: 60vw;
    position: fixed;
    z-index: 2;
    @include ms-depth-64;
    top: 15vh;
    background-color: var(--white);
    padding: 2rem;
    height: 70vh;

    @include ms-motion-fadeIn;

    #cookies-setting-close{

        right: 0.5rem;
        top: 0.5rem;
        position: absolute;
        cursor: pointer;
    }

    &__info{
        
        overflow: auto;
        height: 65vh;

        h4{

            font-size: 1.2rem;
            margin: 0;
            text-transform: uppercase;
        }
        h5{

            font-size: 1.1rem;
            margin-bottom: 0;
            margin-top: 1.5rem;
        }
        p{

            margin-top: 0.5;
            margin-right: 2rem;
            text-align: justify;
            line-height: 1.3rem;
        }
        &__needed{

            margin-top: 3rem;
        }
        &__no-needed{

            margin-top: 3rem;

            a{

                color: var(--neutralDark);
            }
        }
    }

    @include for-size('tablet'){

        top: 10vh;
        width: 90vw;
        height: 80vh;

        &__info{

            height: 70vh;

            p{

                margin-right: 0;
            }
        }
    }
}