// = footer styles =
// ===============================================

.footer{

    margin-top: auto;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background: $neutralLight;
    @include flexbox{
        justify-content: space-between;
    };

    @include for-size('bp-down-500'){

        min-height: 100px;
        padding: 20px;

        @include flexbox{
            flex-direction: column-reverse;
            justify-content: center;
        }
    }

    &__copyright{

        color: $neutralDark;

        @include for-size('bp-down-500'){
        
            margin-top: 15px;
        }
    }  

    &__socials{  

        @include flexbox;
        img{

            height: 30px;
            margin-right: 20px;
        }
    }
}