// = footer styles =
// ===============================================

.footer{

    margin-top: auto;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background: $neutralLight;
    @include flexbox{
        justify-content: space-between;
    };

    &__copyright{

        color: $neutralDark;
    }  

    &__socials{  

        @include flexbox;
        &__icon{

            height: 30px;
            margin-right: 10px;
        }
    }
}