// = global styles =
// ===============================================

*{
    box-sizing: border-box;
}

html{

    margin: 0;
}

body{

    min-height: 100%;
    @include flexbox{
        
        justify-content: flex-start;
        flex-direction: column;
    };
}

p{

    font-size: 1.1rem;
}

