// = header =
// ===============================================

.header{

    width: 100%;
    @include flexbox{
        flex-direction: column;
    }
    
    &__main{ 
 
        background: $themePrimary;
        height: 6rem;   
        width: 100%;

        @include flexbox{
            justify-content: flex-end;
        }; 

        margin: 0;
        padding: 0 20px;
        list-style-type: none;

        &__stclogo{

            width: 50%;
            height: 5rem;
            transition: $ms-motion-timing-decelerate $ms-motion-duration-4;
            &__std{
                height: 100%;
                display: block;
            } 

            &__small{
                height: 100%;
                display: none; 
            }

            @include for-size('tablet'){

                &__std{
                    display: none; 
                } 
    
                &__small{
                    display: block;
                }
            }

            @include for-size('bp-down', 510px){
                &.hidden{

                    opacity: 0;
                }
            }
        }

        &__forms{

            width: 50%;
            margin-right: 0;

            @include flexbox{
                flex-direction: row;
                justify-content: flex-end;
            };
            
            .searchForm{
    
                margin-right: 1rem;
            }
    
            &__menuButton{
    
                cursor: pointer;
                height: 1.5rem;
                position: relative; 
                display: none;

                .ms-Icon{

                    position: absolute;
                    top: 0;
                    font-size: 1.5rem;
                    color: $white; 
                    opacity: 1;
                    transition: opacity ease $ms-motion-duration-4;
                }

                .open{
                    
                    opacity: 0;
                }

                &.active{

                    .closed{

                        opacity: 0;
                    }

                    .open{

                        opacity: 1;
                    }
                }
            }
    
            @include for-size('tablet'){
                
                &__menuButton{
    
                    display: block;
                }      

                margin-right: 1.5rem;;
            }
        }
    }

    &__nav{

        background: $themeDarker;
        width: 100%;

        ul{

            margin: 0;
            padding-left: 20px;
            list-style-type: none;
            @include flexbox{

                flex-direction: row;
                align-items: flex-start;
            }

            li{

                a{

                    display: inline-block;
                    padding: 1rem;
                    color: $white;
                    text-decoration: none;
                    font-size: 1.5rem;
                    @include ms-motion-scaleDownIn;
                    transition: $ms-motion-timing-decelerate $ms-motion-duration-4;

                    &:hover{

                        //background: $themePrimary;
                        transform: scale(1.1);
                         
                    }

                }

                ul{

                    display: none;
                    @include for-size('tablet'){
                        background: $themeDark;
                        width: 100vw;
                        display: flex;

                        a{
                            font-size: 1.25rem;
                        }
                    }
                }
                
                @include for-size('desktop'){

                    &:hover{

                        ul{
                            
                            margin: 0;
                            padding-right: 15px;
                            padding-left: 0;
                            list-style-type: none;
                            background-color: $white;
                            position: absolute;
                            top: auto;
    
                            @include ms-motion-slideDownIn;
                            transition: $ms-motion-duration-4;
    
                            @include ms-depth-8;
    
                            @include flexbox{
    
                                flex-direction: column;
                                align-items: flex-start;
    
                            }
                            
                            li{
                                a{
                                    color: $themeDarker;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        @include for-size('tablet'){

            @include flexbox{

                justify-content: center;
                align-items: flex-start;
            }

            max-height: 0;
            overflow: hidden;
            text-align: center;
            transition: $ms-motion-timing-decelerate $ms-motion-duration-4;

            ul{

                padding: 0;
                @include flexbox{

                    flex-direction: column;
                    align-items: center;
                }
            }

            &.active{

                max-height: 100vh;
            }
        }
    }
}