// = posts styles (single.php) =
// ===============================


.post{ 

    @include flexbox{

        flex-direction: column;
    };

    &__header{

        width: 50vw;
        @include flexbox{

            justify-content: top;
            flex-direction: column;
        }

        h1{

            color: $themePrimary;
            margin: 0;
        }

        &__meta{

             margin-top: 1rem;

             &__category{

                a{
                    text-decoration: none;
                    color: $themePrimary;
                }
            }
        }
    }

    &__content{

        margin-top: 2rem;
    }

    &__footer{

        margin-top: 2rem;
    }

}
